extends layout

block content
    script(src='/javascripts/materialize.js')
    script(src='/javascripts/init.js')
    script(type='text/javascript').
        Comparator.url='/autogen'


    mixin filePicker(nm,placeholder)
        .file-field.input-field
            .btn
                span Load
                i.material-icons.right publish
                input(type='file', name=nm, id=nm)
            .file-path-wrapper
                input(placeholder=placeholder).file-path.validate

    .container
        h2.center.teal-text Step 2: Map the columns
        .section
            .row
                form(ref='uploadForm', id='uploadForm', action='/upload?step=2', method='post', enctype='multipart/form-data')
                    .row
                        .input-field.col.s12
                            input(id='scenario', name='scenario', type='text', placeholder= 'Scenario', value= scenario, disabled='true')
                            label(for='scenario') Scenario
                    .row
                        .col.s12
                            button#action(type='button').btn.waves-effect.left Auto-Generate
                                i.material-icons.right compare_arrows
                            a#download(href='/static/' + scenario + 'map.csv.csv', download='map.csv').btn.waves-effect.right Download
                                i.material-icons.right file_download
                    .row
                        .col.s10
                            +filePicker('map','Select the column mapping .csv')
                    .row
                        #pks.col.s12.card-panel
                            h4.teal-text Select Primary Keys
                            .col.s12.card-panel.grey.lighten-5.scroll
                                #leftFile.col.s6
                                    p.pk-check
                                        input#check(type='checkbox', name='pks')
                                        label(for='check') Red
                                #rightFile.col.s6
                    .row
                        .col.s12
                            button(onclick='window.location="/"', type='button').btn.waves-effect.left Back
                                i.material-icons.left navigate_before
                            button(type='submit').btn.waves-effect.right Next
                                i.material-icons.right navigate_next
            .row
                .progress
                    .indeterminate
            include ./console