body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.scroll {
  overflow-y: scroll;
  max-height: 300px;
}

#console {
  overflow: scroll;
  font: 14px "Ubuntu Mono", Helvetica, Arial, sans-serif;
  min-height: 200px;
  max-height: 300px;
}
.console-line {
  overflow: visible;
}