[POSTGRESDB]
postrgres_host = 127.0.0.1
postrgres_port = 5432
postrgres_db = testdata
postrgres_user = postgres
postrgres_pwd = abc123

[MYSQLDB]
mysql_host = 127.0.0.1
mysql_port = 3306
mysql_db = comparedb
mysql_user = root
mysql_pwd = gvt123

[QUERY]
query_comparison_funtion_path = /home/janitha/Documents/Projects/comparison-fe/public/tools/funcs.sql/compare.sql
query_type_detect_funtion_path = /home/janitha/Documents/Projects/comparison-fe/public/tools/funcs.sql/dataTypeIdenify.sql
query_convert_type_funtion_path = /home/janitha/Documents/Projects/comparison-fe/public/tools/funcs.sql/convert_and_match.sql